#contact-us {
  @extend .flexBox;
  justify-content: center !important;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  gap: 20px;

  @include tablet {
    flex-direction: column;
  }
}

.contact-us-image {
  flex: 1;

  img {
    width: 90%;
    height: auto;
    border-radius: 10px;

    @include tablet {
      width: 100%;
    }
  }
}

.contact-us-form {
  flex: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 100%;
  }

  label {
    margin-bottom: 6px;
  }

  input,
  button,
  textarea {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
  }
  textarea {
    resize: none;
    height: 150px;
  }
  button {
    margin: 15px 0;
    background-color: $main-color;
    border: 1px solid transparent;
    color: $text-color;
    font-weight: bold;
    cursor: pointer;
    @extend .transition;
    &:hover {
      background-color: #a48032;
    }
  }
}
