// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Css Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

//Scss Import
@import "./variables";
@import "./mixin";
@import "./header";
@import "./home";
@import "./educations";
@import "./about-us";
@import "./popular-educations";
@import "./contact-us";
@import "./footer";

//Global Styles
body {
  font-family: "Open Sans", sans-serif;
  background-color: $bg-color;
   color: $text-color;
}

a {
  color: $text-color;
}


.flexBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transition {
    transition: all 0.5s ease-in-out;
}